.diary-top {
    height       : 7vh;
    width        : 92%;
    border-bottom: 1px solid #C87544;
    position     : relative;
    opacity      : 5;
    margin       : 0 4%;
}

.datebtn {
    border    : 0;
    outline   : 0;
    position  : absolute;
    height    : 38px;
    background: transparent;
    width     : 20px;
}

.choose-btn {
    border          : 0;
    outline         : 0;
    position        : absolute;
    right           : 8px;
    bottom          : 2px;
    background-color: transparent;
}

.date-container {
    width      : 160px;
    height     : 7vh;
    position   : relative;
    margin-left: 10px;
    display    : flex;
    align-items: flex-end;
}

.react-datepicker-wrapper {
    position: absolute;
    width   : 100px;
    height  : 39px;
    top     : 5px;
    left    : 13%;
}

.react-datepicker {
    border: 0;
}

.react-datepicker-wrapper .react-datepicker__header {
    background-color: white;
}

.show-date {
    height   : 38px;
    width    : 110px;
    position : absolute;
    display  : flex;
    flex-wrap: wrap;
    left     : 18%;
}

.show-day {
    display     : inline-block;
    width       : 40px;
    height      : 100%;
    text-align  : center;
    font-size   : 36px;
    color       : rgb(255, 136, 57);
    margin-right: 3px;
    margin-top  : -10px;
}

.showday {
    display   : inline-block;
    margin-top: -10px;
}

p.show-weekday {
    display    : inline-block;
    height     : 32px;
    color      : rgb(255, 136, 57);
    font-weight: 600;
    font-size  : 18px;
    line-height: 1rem;
    margin-left: 5px;
}

.show-month {
    display       : inline-block;
    font-size     : 12px;
    height        : 12px;
    font-style    : normal;
    margin-top    : 2px;
    font-weight   : 200;
    color         : rgb(136, 136, 136);
    letter-spacing: 1px;
}