@font-face {
    font-family: "PingFang Regular";
    src        : url('./font/PingFang Regular.ttf');
}

* {
    margin : 0;
    padding: 0;
}


body {
    width      : 100vw;
    height     : 100vh;
    caret-color: #81BCFF;
    font-family: "PingFang Regular";

}

a {
    text-decoration: none;
}