* {
    margin : 0;
    padding: 0;
}

body {
    width : 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
}

.Nav{
    position: absolute;
    bottom: 0;
}

.Navitems {
    width          : 100vw;
    height         : 10vh;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
}

.Navitem{
    list-style-type: none;
}