body {
    background         : fixed url('../assets/diarybg.jpg') no-repeat;
    background-position: center;
    background-size    : cover;
}

.diaryBox {
    width: 100vw;
}


.showDiary {
    display   : flex;
    flex-wrap : wrap;
    width     : 94%;
    margin    : 0 3%;
    margin-top: 15px;
}