.homeBox {
    width                : 100vw;
    height               : 100vh;
    /* background        : url('../assets/loginbg.png') no-repeat; */
    background-size      : cover;
    /* display           : flex;
    justify-content      : center;
    align-items          : center; */
}

.choose-form {
    max-width      : 60%;
    height         : 400px;
    min-width      : 280px;
    margin         : 0 auto;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.choose-form .toUp {
    margin-bottom   : 17px;
    background-color: #f8f8f8;
    background-image: none;
    color           : #949494;
}

.signupBox,
.signInBox {
    position: relative;
}

.signin-form,
.signup-form {
    width          : 300px;
    height         : 500px;
    margin         : 0 auto;
    padding-top    : 30px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.Pass,
.Email,
.User,
.rePass {
    position  : relative;
    text-align: center;
}

.Uplus,
.Pplus {
    position: absolute;
    left    : 30px;
    top     : 12px;
}

.form-control {
    height       : 44px;
    width        : 224px;
    padding      : 0 0 0 40px;
    border-radius: 15px;
    border       : 0;
    outline      : 0;
    box-shadow   : 0 2px 10px rgb(179, 174, 174);
}

.btns {
    width          : 100%;
    margin-top     : 40px;
    display        : flex;
    justify-content: space-around;
}

.btn {
    width           : 226px;
    height          : 42px;
    border-radius   : 24px;
    border          : 0;
    outline         : 0;
    box-shadow      : 0 2px 10px rgb(179, 174, 174);
    background-image: linear-gradient(to right, #FF903B, #FC804E);
    font-size       : 16px;
    text-align      : center;
    letter-spacing  : 11px;
}



.sign {
    color: white;
}

.change-form {
    text-align: center;
    margin-top: 10px;
    color     : #818181;
    font-size : 14px;
}